.about-content{
  p{
    font-size: 1rem;
    max-width: 75ch;
    min-width: 50ch;
    text-align: justify;
  }
  .quote{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    min-width: 30ch;
    margin-bottom: 1rem;
  }
  img{
    height: 50vh;
    object-fit: cover;
  }
}
