#contact {
  background: linear-gradient(
    180deg,
    var(--background-color7),
    var(--background-color8)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    color: azure;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
  }
  a{
    text-decoration: none;
    margin: 2rem;
  }
  i{
    font-size: 5rem;
    color: azure;
  }
  .anchor{
    top: 80px;
  }
}
