#contact {
  background: linear-gradient(
    180deg,
    var(--background-color7),
    var(--background-color8)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  h2{
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
  }
  span{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }
  .typed-content{
    min-height: 200px;
  }
  a{
    color: azure;
    text-decoration: none;
    margin: 2rem;
  }
  i{
    font-size: 5rem;
    opacity: 0.8;
    &:hover{
      opacity: 1;
    }
  }
  .anchor{
    top: 80px;
  }
}
