<div id="carouselExampleSlidesOnly" class="carousel slide col-6" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638899286/portfolio/about/pexels-photo-7988113_kcnrgr.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638899286/portfolio/about/engineer_bgdnue.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638899286/portfolio/about/pexels-photo-3735709_op7g9i.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638899286/portfolio/about/pexels-photo-270373_m5qvln.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638899286/portfolio/about/pexels-photo-2280571_w3sf66.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

