<div id="aboutCarousel" class="carousel slide col-6 carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960927/portfolio/about/keyboard_coding_drrgq9.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960928/portfolio/about/chemical_engineering_lab_kzfcqt.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960927/portfolio/about/child_coding_v5ydli.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960928/portfolio/about/laboratory_irhafm.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960927/portfolio/about/coding_screen_wvkpsf.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960927/portfolio/about/engineer_tlqfrk.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dzn5ijtvz/image/upload/v1638960927/portfolio/about/adult_coding_x1vjat.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
