    <footer>
      <ul>
        <li>
          <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-github-square"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-slack"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-twitch"></i></a>
        </li>
        <li>
          <a href="#" class="footer_link" id="my_profile_link">My profile</a>
        </li>
        <li><a href="#" class="footer_link">Le Wagon</a></li>
        <li><a href="#" class="footer_link">Lorem</a></li>
      </ul>
    </footer>
