<div class="tech-skills">
  <h3>My technical skills</h3>
  <div class="tech-grid">
    <% @tech_skills.each do |tech_skill| %>
      <div class="tech-skill">
        <h4><%= tech_skill[:name] %></h4>
        <%= image_tag tech_skill[:image] %>
      </div>
    <% end %>
  </div>
</div>
