<ul id="timeline" class="timeline">
  <div class="arrowhead"></div>


  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2021</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Le Wagon Coding Bootcamp</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eos nostrum fugit quaerat voluptate libero, facere atque ipsam quasi perspiciatis iste assumenda beatae cupiditate ab animi, non doloremque aperiam quidem?</p>
      </div>
    </div>
  </li>

  <li class="inverted">
    <div class="badge">
      <div class="circle"></div>
      <p>2021</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">freeCodeCamp</h3>
      </div>
      <div class="body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatum laboriosam possimus numquam, magni ducimus magnam necessitatibus repellendus eos voluptatem asperiores sunt provident sint, dignissimos reiciendis eum. Sed ratione reiciendis totam soluta, architecto blanditiis quod porro ipsam sunt in consequuntur doloribus reprehenderit at vitae asperiores quam tempora possimus harum! Nihil et vero, aliquam veritatis molestias similique dolorem fugit placeat cumque vitae cum laborum voluptatem tempore nemo quos expedita deleniti harum repellendus facilis provident. Esse, placeat deserunt earum quibusdam saepe magnam! Adipisci ipsum delectus perspiciatis praesentium dicta assumenda possimus et labore sint omnis sed culpa accusamus, pariatur laboriosam cum quis corrupti?</p>
      </div>
    </div>
  </li>

  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2020</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Postgraduate researcher (End)</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima necessitatibus reiciendis soluta harum dicta sunt numquam perspiciatis quasi iure aperiam repudiandae, culpa a dolorum doloribus natus enim deserunt accusamus at omnis ut inventore, eaque quod cumque. Minus rem cumque deleniti molestias blanditiis hic, explicabo sequi minima molestiae eveniet nostrum voluptatem! Dolorem aperiam inventore aspernatur laudantium maxime nihil quasi voluptatibus odit ad quas deserunt quaerat, beatae aliquid labore eaque ut iste non quod, nostrum recusandae. Nostrum fuga nemo facere possimus odio asperiores voluptatum nisi? Quia porro, rerum libero explicabo labore perspiciatis debitis quasi impedit sint quidem est corrupti iste ipsam aspernatur!</p>
      </div>
    </div>
  </li>

  <li class="inverted">
    <div class="badge">
      <div class="circle">
      </div>
      <p>2016</p>
    </div>

    <div class="panel">
      <div class="pointer">
      </div>
      <div class="heading">
          <h3 class="title">Postgraduate Researcher (Start)</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id consequatur officiis doloribus possimus impedit facere repudiandae harum, ipsa cupiditate eius nesciunt sit blanditiis totam saepe? Minus reprehenderit magni hic, aspernatur possimus necessitatibus ducimus laudantium modi vel impedit, neque illum? Ratione voluptatem commodi laboriosam pariatur nihil? Aut placeat molestias natus reiciendis perspiciatis vero praesentium maiores odio, ad soluta aliquid dolores inventore nihil aspernatur consequuntur? Fugiat nisi, eius adipisci maiores dolores excepturi deleniti repellendus nihil cupiditate similique officia vitae saepe reprehenderit ducimus!</p>
      </div>
    </div>
  </li>

  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2016</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Laboratory assistant</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima cum sed quidem nemo excepturi dignissimos repudiandae unde illum atque ab commodi deleniti, doloribus distinctio harum? Obcaecati quis, non est consequuntur maxime quidem aspernatur doloremque corrupti fugit eos magnam quasi tenetur sequi. Optio numquam nobis velit sit maiores praesentium voluptatibus ipsam.</p>
      </div>
    </div>
  </li>

  <li class="inverted">
    <div class="badge">
      <div class="circle"></div>
      <p>2015</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Bachelor of Engineering (End)</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iusto, hic fugiat pariatur nobis, deserunt veritatis quos odio laborum ipsam quasi eaque! Accusamus voluptate, perspiciatis rem vel at facilis veniam!</p>
      </div>
    </div>
  </li>

  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2014</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Trainee Engineer</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat distinctio expedita, vel quis explicabo sit labore ea. Hic quisquam alias iste neque eveniet eius incidunt quia. Quibusdam tenetur deserunt maiores minima libero ratione, soluta, iste deleniti eligendi maxime, dolores corrupti. Laborum, tempore praesentium? Laudantium consequatur deserunt exercitationem molestiae nulla, molestias delectus doloribus vitae soluta qui repellendus consequuntur adipisci eveniet ex sed ratione asperiores beatae officia?</p>
      </div>
    </div>
  </li>

  <li class="inverted">
    <div class="badge">
      <div class="circle">
      </div>
      <p>2011</p>
    </div>

    <div class="panel">
      <div class="pointer">
      </div>
      <div class="heading">
          <h3 class="title">Bachelor of Engineering (Start)</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quisquam consequatur. Aperiam labore reiciendis deserunt placeat earum obcaecati odio blanditiis optio, adipisci, necessitatibus sequi. Commodi explicabo ex ducimus quasi magni repudiandae, molestias, fugiat optio illum non veritatis tempore harum praesentium ea! Nobis ullam maiores ipsa voluptatibus odit quod tenetur esse officia aut soluta consectetur repudiandae quam, nam, quis, numquam sed doloribus. Saepe illo aliquid laboriosam corrupti ad, nesciunt alias autem.</p>
      </div>
    </div>
  </li>

  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2010</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Laboratory assistant</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quis ullam? Quos accusamus molestiae rerum explicabo, unde reiciendis sunt architecto neque ea qui. Facilis doloremque ducimus omnis, libero voluptatum, ipsa perferendis vitae eaque facere, voluptate adipisci odio impedit iste esse labore reiciendis? Dolorum veritatis fugiat iste impedit numquam facilis temporibus et, illum omnis, minima laudantium consequatur excepturi quas nemo a.</p>
      </div>
    </div>
  </li>

  <li class="inverted">
    <div class="badge">
      <div class="circle"></div>
      <p>2010</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">Higher School Certificate</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ut quisquam quis at nam hic magnam ipsum, assumenda, modi, quo maiores dignissimos repudiandae debitis. Adipisci reprehenderit debitis magni sequi quos.</p>
      </div>
    </div>
  </li>

  <li>
    <div class="badge">
      <div class="circle"></div>
      <p>2008</p>
    </div>
    <div class="panel">
      <div class="pointer"></div>
      <div class="heading">
        <h3 class="title">School Certificate</h3>
      </div>
      <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ipsam ullam velit, quidem illum mollitia numquam porro ducimus alias deleniti quis odio adipisci impedit, cupiditate iste ab dolore vero dignissimos ad reprehenderit optio cumque? Voluptatum iure amet mollitia velit rerum soluta quod fugiat a dolores. Libero dolore assumenda voluptatum nihil repudiandae, tempore quas? Iste, magni!</p>
      </div>
    </div>
  </li>

  <div class="end"></div>

</ul>
