<div id="top"></div>
<div
  class="min-vh-100 d-flex align-items-center position-relative"
  id="banner"
>
  <div id="banner_anchor" class="anchor"></div>
  <div class="banner-content">
    <h1 id="welcome">Hello</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="min-vh-100 position-relative" id="about_me">
  <div id="about_me_anchor" class="anchor"></div>
  <h3>About Me</h3>
  <p>Hello</p>
</div>

<div class="min-vh-100 position-relative" id="career">
  <div id="career_anchor" class="anchor"></div>
  <h3>My Career</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt
    repudiandae nesciunt. Optio, dolores nesciunt molestias repellat placeat
    quo quos illum similique nemo, repudiandae quae error cumque accusantium
    assumenda. Quasi.
  </p>
</div>
<div class="min-vh-100 position-relative" id="education">
  <div id="education_anchor" class="anchor"></div>
  <h3>My Education</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi
    vitae rem cupiditate ab recusandae facere fugiat, est vel. Molestias
    illum fuga repellendus rem eum qui reprehenderit voluptatum, dolor
    eveniet, obcaecati architecto error debitis molestiae officia et libero
    blanditiis soluta facilis quia vel laborum neque natus? Quos vitae quod
    ea.
  </p>
</div>
<div class="min-vh-100 position-relative" id="passions">
  <div id="passions_anchor" class="anchor"></div>
  <h3>My Interests</h3>
  <div class="passions_grid">
    <div class="passions_grid_items">
      <img src="images/passions/diving.jfif" alt="diving and swimming" />
      <h4>Diving and swimming</h4>
      <p></p>
    </div>
    <div class="passions_grid_items">
      <img src="images/passions/hiking.jpeg" alt="hiking" />
      <h4>Hiking</h4>
      <p></p>
    </div>
    <div class="passions_grid_items">
      <img src="images/passions/gaming.jpeg" alt="gaming" />
      <h4>Computer gaming</h4>
      <p></p>
    </div>
    <div class="passions_grid_items">
      <img src="images/passions/running.jpeg" alt="running" />
      <h4>Running</h4>
      <p></p>
    </div>
  </div>
</div>
<div class="min-vh-100 position-relative" id="projects">
  <div id="projects_anchor" class="anchor"></div>
  <div class="container">
    <h3 class="text-light">My projects</h3>
    <!-- Accordion -->
    <%= render 'shared/accordion' %>
  </div>
</div>
<div class="min-vh-100 position-relative" id="contact">
  <div id="contact_anchor" class="anchor"></div>
  <h3>Contact me</h3>
</div>
